.panel-collapse{
  overflow: hidden;
}

.app-accordion{
  .panel-heading{
    background-color: #f2f2f2;
  }
  .panel-title{
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    a{
      text-decoration: none;
      color: #333333;
      padding-left: 25px;
      display: block;
      &:focus{
        outline: none;
      }
    }
    i{
      position: absolute;
      top: 10px;
      left: 20px;
      float: left;
      padding: 4px 0;
    }
    .fa-plus{
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
    }
    .fa-minus{
      -webkit-transform: rotate(-180deg);
      transform: rotate(-180deg);
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
    }
  }
  .panel-body{
    padding: 10px 0;
  }
}
