<nav>
  <ul class="main-nav" >
    <li class="" *ngFor="let view of viewsObj; let i = index;">
      <a [routerLinkActive]="(view.children != null && view.children.length > 0) ? 'active' : 'active'" [routerLink]="['/rcsa/', view.routerLink]" [disableLink]="(view.children != null && view.children.length>0)"> <i class="fa {{view.iconClass}}" aria-hidden="true"></i> <span>{{view.name}}</span> </a>
      <ul class="sub-nav" *ngIf="view.children?.length >  0">
        <li class="" [ngClass]="{'disabled': subview.enabled == false}" *ngFor="let subview of view.children">
          <a [routerLinkActive]="subview.enabled == false ? '':'active'" [routerLink]="subview.enabled == false ? [] : ['/rcsa/' ,view.routerLink,subview.routerLink]"> <i class="fa {{subview.iconClass}}" aria-hidden="true"></i> <span>{{subview.name}}</span> </a>
        </li>
      </ul>
    </li>
    <!-- <li class=""> <a routerLinkActive="active" [routerLink]="['/rcsa/rcsa-view/setup-remediation-unit']"> <i class="fa fa-user" aria-hidden="true"></i> <span>SET UP REMEDIATION UNIT</span> </a> </li>

     <li class="" *ngFor="let view of viewsObj; let i = index;"> <a routerLinkActive="active" [routerLink]="['/rcsa/', view.routerLink]"> <i class="fa fa-user" aria-hidden="true"></i> <span>{{view.name}}</span> </a> </li>
 -->

  </ul>
</nav>
<router-outlet></router-outlet>
