$fontfamily :'Open Sans', sans-serif;

$theme-darkbg : #55616f; //dark gray
$theme-orange : #f4a535; //orange
$text-color:#333333; //gray
$text-highlight:#e3151a; //version of red
$invalid-color:#e3151a; //version of red
//Grid colors
$grid-head :#e4faff;

//other colors
$theme-green : #218838;

$theme-primary: #e3151a;
$theme-secondary: #f4a535;
$theme-blue:#b8e1f5; //
$theme-lightblue:#e4faff;
$theme-gray: #d6d6d6;
$theme-lightgray:#a8a8a8;
$theme-black : #000;
$theme-darkgray :  #d2d2d2;
