<div class="row">
  <div class="col-sm-12">
    <div class="p-5">
    <p-dataTable class="custom-prime-grid" [value]="rcmList">
      <p-column field="geography" header="RCM Name">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <span>{{row.rcsaName}}</span>
        </ng-template>
      </p-column>
      <p-column field="description" header="Action">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <button class="btn btn-primary" (click)="confirm(row.rcsaId)" type="button">RESET</button>
        </ng-template>
      </p-column>
    </p-dataTable>
    </div>
  </div>
</div>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-dialog header="Cooridator Notified" [(visible)]="showNotificationAlter">
  RCM reset successfully.
  <p-footer>
    <button class="btn btn-info" (click)="showNotificationAlter = false" type="button" >close</button>
</p-footer>
</p-dialog>