<header class="app-header sticky" xmlns="http://www.w3.org/1999/html">
  <a class="navbar-brand" href="#"><img src="assets/img/logo.png"> </a>
</header>
<div id="main">
  <div class="app-body">
    <!-- Main content -->
    <main class="main">
      <nav>
        <ul class="main-nav">
          <li class=""> <a class="active"> <i class="fa fa-user" aria-hidden="true"></i> <span>RCSA
                Q{{assessmentData?.quarter}} {{assessmentData?.year}}</span> </a> </li>
        </ul>
      </nav>

      <div class="container-fluid">
        <h3 class="head text-uppercase" *ngIf="rcsaStartStatus">RCSA Q{{assessmentData?.quarter}} -
          {{assessmentData?.year}} ({{assessmentData?.startDate | amUtc | amDateFormat: 'MM/DD/YYYY'}} -
          {{assessmentData?.endDate | amUtc | amDateFormat: 'MM/DD/YYYY'}})</h3>
        <!-- RISK MANAGER VIEW STARTS-->
        <div class="row">
          <div class="col-md-12">
            <div class="card" *ngIf="!rcsaStartStatus">
              <div class="status">
                <h3 class="align-center">{{rcsaStatusMessage}}</h3>
              </div>
            </div>
            <div *ngIf="rcsaStartStatus" class="card">
              <div class="row" *ngIf="enableCoordinatorSubmission">
                <div class="admin-form-header">
                  <!--<div class="form-group form-dd form-inline" *ngIf="showRiskDropdown">
                <label class="label-highlight">Risk : </label>
                <select2 class="select2-icon" [data]="riskList" [value]="selectedRiskOption" *ngIf="riskList.length > 0 && selectedRiskOption != null" (valueChanged)="changeRisk($event)" [cssImport]="true" [options]="options"></select2>
              </div>-->
                  <button class="btn btn-danger" type="button" (click)="submitToCoordinator()">submit to rcsa
                    coordinator</button>
                </div>
              </div>
              <div class="clearfix"></div>
              <!--policy sections starts-->
              <div class="row">
                <div class="assessor-left">
                  <div class="assessor-policy-left">
                    <div class="control-label text-uppercase">
                      Control Category:
                    </div>
                    <div class="clearfix"></div>
                    <ul>
                      <li *ngFor="let item of assessmentData?.controlCategories; let i = index;"
                        [class.active]="item.id == selectedControlCategory?.id"
                        [class.completed]="item.status == 'COMPLETED'" (click)="changeControlCategoryOnClick(item,i)">
                        <div class="icon-wrapper">
                          <i class="fa fa-folder"></i>
                        </div>
                        <div class="details-wrapper">
                          <h4>{{item.name}}</h4>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="assessor-right">
                  <div class="row">
                    <div class="col-sm-12 px-3 pb-3 heading-description">
                      <p>Thank you for being an Assessor in the Risk-Control Management exercise for Q1, 2023 (period).
                        Please consider the Control Categories on the left one by one and answer two questions related
                        to
                        effectiveness (after each Category is addressed, you will be prompted to move to the next one).
                        For
                        your guidance, the Control Procedures that this Category includes, and the Risks and Policies
                        that
                        it
                        is related to, are shown above. There are no right or wrong answers. We simply request your
                        considered
                        feedback. </p>
                    </div>
                  </div>
                  <div class="control-definition">
                    <span class="control-label text-uppercase">
                      <span class="font-weight-bold">TAGGED RISKS:</span> <span
                        *ngFor="let risk of selectedControlCategory?.taggedRisks; let last = last;">{{risk.name}}<span
                          *ngIf="!last">, </span> </span>
                    </span>
                    <span class="control-text" [innerHTML]="selectedRisk?.description">
                    </span>
                  </div>
                  <div class="control-definition">
                    <span class="control-label text-uppercase">
                      <span class="font-weight-bold">ASSOCIATED POLICIES:</span> <span
                        *ngFor="let policy of selectedControlCategory?.policies; let last = last;">{{policy.name}}<span
                          *ngIf="!last">, </span> </span>
                    </span>
                  </div>
                  <div class="control-section">
                    <div class="control-title">
                      <span>CONTROL PROCEDURES: </span>Key controls for {{selectedRisk?.name}} -
                      {{selectedControlCategory?.name}} are listed below. Please respond to the questions in the Risk
                      Control Effectiveness box below.
                    </div>
                    <ul class="control-list">
                      <li *ngFor="let controlProcedure of selectedControlCategory?.controlProcedures">
                        {{controlProcedure.name}}</li>
                      <!--<li>Management process & oversight commensurate with financial & reputation risk, size, complexity of vendor relationship.</li>
                    <li>Significant and critical relationships defined by characteristics above; key names listed (may not be exhaustive)</li>
                    <li>Appendix I provides a summary discussion of ABC’s key risks in vendor relationships</li>
                    <li>Appendix II provides a list of significant & critical vendors ­ Appendix III provides a vendor questionnaire to be recorded</li>-->
                    </ul>
                  </div>
                  <div class="scrollable-section">
                    <div class="control-section">
                      <div class="control-title">
                        <span>CONTROL CATEGORY EFFECTIVENESS: Based on the Control Procedures listed above and what you
                          have
                          seen/experienced in your work, rate the effectiveness of this Category of Control.</span>
                      </div>

                      <!--Item to repeat starts below-->
                      <div class="control-item" *ngFor="let q of questions; let i = index">
                        <div class="col-md-1  px-0 pl-2">
                          <label>Question {{i + 1}}</label>
                        </div>
                        <div class="col-md-7" *ngIf="q.questionId != 5">
                          <label *ngIf="q.questionId == 1">Has there been a Failure/ Risk issue this Quarter</label>
                          <label *ngIf="q.questionId == 2">Was this documented/ discussed with Risk/ Leadership</label>
                          <label *ngIf="q.questionId == 3">Was there any failed or missing control, or one-off
                            exception</label>
                          <label *ngIf="q.questionId == 4">Rate the design and effectiveness of this control. Pick a
                            score
                            from 0 to 10, with 10 being the best</label>
                          <label *ngIf="q.questionId == 5" class="text-danger">If you rated between 0-4 for Question 4,
                            required remediation is mandatory</label>
                        </div>
                        <div [ngClass]="{'col-sm-4': q.questionId != 4, 'col-sm-2': q.questionId == 4}" *ngIf="q.questionId != 5">
                          <select2 class="select2-icon" *ngIf="q.questionId == 1"
                            (valueChanged)="q.choiceIds[0] = $event.value;checkAnswer($event.value);"
                            [(value)]="q.choiceIds[0]" [data]="Q1" [cssImport]="true" [options]="QOptions"></select2>
                          <select2 class="select2-icon" *ngIf="q.questionId == 2"
                            (valueChanged)="q.choiceIds[0] = $event.value" [(value)]="q.choiceIds[0]" [data]="Q2"
                            [cssImport]="true" [options]="QOptions"></select2>
                          <select2 class="select2-icon" *ngIf="q.questionId == 3"
                            (valueChanged)="q.choiceIds[0] = $event.value" [(value)]="q.choiceIds[0]" [data]="Q3"
                            [cssImport]="true" [options]="QOptions"></select2>
                          <select2 class="select2-icon" *ngIf="q.questionId == 4"
                            (valueChanged)="q.choiceIds[0] = $event.value;changeControlCategoryStatus(selectedControlCategory);"
                            [(value)]="q.choiceIds[0]" [data]="Q4" [cssImport]="true" [options]="QOptions"></select2>
                        </div>
                        <div *ngIf="q.questionId == 4" class="bfu-grid-wrapper px-0 pl-1 col-sm-2">
                          <div class="bfu-row">
                            <div class="bfu-col">
                              <ul class="bfu-list ">
                                <li>Needs Improvement (0-4)</li>
                                <li>Satisfactory (4.1-7.9)</li>
                                <li>Strong (8-10)</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8" *ngIf="q.questionId == 5">
                          <label class="text-danger">If you rated between 0-4 for Question 4, required remediation is
                            mandatory</label>
                        </div>
                        <div class="col-md-12" *ngIf="q.questionId == 5">
                          <div class="row">
                            <div class="col-md-2">
                              <label></label>
                            </div>
                            <div class="col-md-10">
                              <div class="form-group form-dd form-lg">
                                <label>Proposed / Draft Remediation</label>

                                <!--
                            <textarea placeholder="Describe Proposed Remediation" [(ngModel)]="q.response" (ngModelChange)="changeControlCategoryStatus($event, selectedControlCategory)" [ngClass]="{'error': q.isValid == false}"></textarea>
-->

                                <ckeditor [(ngModel)]="q.response" [config]="editorConfig" [readonly]="false"
                                  (change)="changeControlCategoryStatus($event, selectedControlCategory)"
                                  [ngClass]="{'error': q.isValid == false}" debounce="200">
                                </ckeditor>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row control-item">
                        <div class="col-sm-8 px-0  pl-2">
                          <label class="control-comment-note">Add any Comments to explain your answers above. Also
                            suggest
                            any
                            Remediation/s to improve the
                            Effectiveness of this Control
                          </label>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group form-dd form-lg">
                            <textarea placeholder="Comments" [(ngModel)]="comments"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row control-item">
                        <!--use if there is attachement starts-->
                        <div class="attach col-sm-8 px-0 pl-2">
                          <label>
                            Was any Test performed? Is Documentation available.
                          </label>
                        </div>
                        <div class="col-sm-4">
                          <select2 class="select2-icon" [(value)]="isFileUploadRequired"
                            (valueChanged)="isFileUploadRequired = $event.value" [data]="fileUploadOptions"
                            [cssImport]="true" [options]="fileUploadOptions"></select2>
                          <label *ngIf="isFileUploadRequired == 1" class="mt-2">
                            <a style="cursor: pointer;text-decoration: underline;" (click)="file.click()"><i
                                class="fa fa-paperclip" aria-hidden="true"></i> Click here to include documentation </a>
                          </label>
                          <div class="custom-upload">
                            <label class="btn-bs-file btn btn-lg btn-transparent">
                              <!--<i class="fa fa-paperclip" aria-hidden="true"></i>-->
                              <input type="file" #file id="file" onclick="this.value = null"
                                (change)="uploadattachment($event)" accept=".xls,.xlsx,.pdf, .doc" />
                            </label>
                          </div>
                          <ul *ngIf="attachments && attachments.length>0" class="attachments">
                            <li *ngFor="let attachment of attachments"><span
                                (click)="downloadAttachment(attachment.id, attachment.displayName, attachment.contentType)">{{attachment.displayName}}</span><i
                                class="fa fa-times fa-6" aria-hidden="true"
                                (click)="deleteattachment(attachment.id)"></i>
                            </li>
                          </ul>
                        </div>
                        <!--use if there is attachement ends-->
                      </div>

                      <!--<div class="errormessage">You rated the status and quality of implementation of policy between 0-4.Proposed remediation is</div>-->
                      <div class="errormessage" *ngIf="validationErrors > 0">Please answer all questions</div>
                    </div>
                    <!--Button Toolbar to show button-->
                    <div class="btn-group align-left">
                      <button class="btn btn-danger" type="button"
                        (click)="saveControlProcedures('save', selectedRisk)">save</button>
                      <button class="btn btn-danger" type="button" (click)="submitToCoordinator()"
                        *ngIf="enableCoordinatorSubmission">submit to rcsa coordinator</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--policy sections ends-->
            </div>
          </div>
        </div>
        <!-- RISK MANAGER VW ENDS-->
      </div>
    </main>
  </div>
</div>
<div id="footer">
  <footer class="app-footer">2017 © Riskcounts. All Rights Reserved.
  </footer>
</div>

<div bsModal #success="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <!--<ng-template #template>-->
  <div class="modal-dialog modal-sm modal-alert" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="alert-success">
          <span class="alert-close" (click)="success.hide()" aria-hidden="true">&times;</span>
          <i class="ico-md ico-success"></i>
          <div class="alert-msg-wrapper">
            <h3>Success</h3>
            <p>{{successModalMsg}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</ng-template>-->
</div>

<div bsModal #error="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <!--<ng-template #template>-->
  <div class="modal-dialog modal-sm modal-alert" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="alert-error">
          <span class="alert-close" (click)="error.hide()" aria-hidden="true">&times;</span>
          <i class="ico-md ico-error"></i>
          <div class="alert-msg-wrapper">
            <h3>Alert</h3>
            <p>{{errorModalMsg}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</ng-template>-->
</div>