#heading {
    font-weight: 600;
    text-decoration: underline;
}

#rating-calculations li {
    margin: 2rem;
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
.highlight-blue{
    color: #0F52BA;
    font-weight: 800;
}