<div class="container-fluid">
  <h3 class="head text-uppercase">START NEW RCSA</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!--TAb Navigation
        <ul class="tab-nav">
          <li class=""> <a routerLinkActive="active" [routerLink]="['/rcsa/start-new-rcsa/setup-rcsa']"> <span class="count">1</span><span>Set up rcsa</span> </a> </li>
          <li class=""> <a routerLinkActive="active" [routerLink]="['/rcsa/start-new-rcsa/setup-policies']"> <span class="count">2</span><span>Set up Policies</span> </a> </li>
          <li class=""> <a routerLinkActive="active" [routerLink]="['/rcsa/start-new-rcsa/choose-assessors']"> <span class="count">3</span><span>CHOOSE ASSESSORS - BY BUSINESS UNITS</span> </a> </li>
        </ul>-->
        <!--TAb Navigation Ends
        <hr/>-->
        <div class="warnings">NOTE: Please ensure that the Business Function Units and the Assessors are set up in the system before RCM is initiated.</div>
        <div class="setup-rcsa-units-outer">
          <h3>You are currently setting up RCM for the following RCM Units. Uncheck the boxes to deselect the RCM Units for the RCM.</h3>
          <div class="setup-rcsa-units-wrapper">
            <div class="setup-rcsa-unit-selection" *ngFor="let riskUnit of rcsaUnitlist">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [value]="riskUnit.id" [(ngModel)]="riskUnit.checked" *ngIf="riskUnit?.assessorsPresent">
                  <div class="erroricon" *ngIf="!riskUnit?.assessorsPresent"></div>
                  {{riskUnit.name}}<span *ngIf="!riskUnit?.assessorsPresent" class="link" routerLinkActive="active" [routerLink]="['/rcsa/rcsa-view/set-up-business-unit',riskUnit.id ]">Set up Assessment Units/Assessors</span>
                </label>
              </div>
            </div>
            <!--<div class="setup-rcsa-unit-selection">
              <div class="checkbox">
                <label>
                  &lt;!&ndash;<input type="checkbox">&ndash;&gt;
                  <div class="erroricon"></div>
                  Rcsa Unit 1 <span class="link" routerLinkActive="active" [routerLink]="['/rcsa/set-up-business-unit']">Set up BFU's/Assessors</span>
                </label>
              </div>
            </div>-->
          </div>
          <div class="errormessage" *ngIf="showRcsaUnitError">Please select a RCM Unit</div>
        </div>
        <!--Rcsa Setup Starts-->
        <div class="setup-form-header">
          <div class="form-group form-dd form-inline">
            <label class="label-highlight-dark">Select Quarter : </label>
            <select2 class="select2-icon" [data]="quarterList" [cssImport]="true" [options]="options" (valueChanged)="changeQuater($event)" [(value)]="selectedQuarter.id" placeholder="Select Quarter"></select2>
            <label class="label-highlight-dark">for {{selectedYear.value}} </label>
            <div  class="change-btn" dropdown>
              <div id="changeYear" dropdownToggle (click)="false">
                change
              </div>
              <div style="cursor: pointer;" class="dropdown-menu" aria-labelledby="changeYear" *dropdownMenu>
                <a class="dropdown-item" *ngFor="let year of yearList" (click)="changeYear(year)">{{year.value}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="start-new-rcsa-dateselection">
            <div class="start-new-rcsa-dateselection">
              <label class="label-highlight-dark text-uppercase">SET RCM START DATE:</label>
              <p-calendar name="rcsaStartDate" class="rcsa-calendar" [utc]='false' [minDate]="rcsaMinDate" [(ngModel)]="rcsaStartDate" showIcon=true icon="fa-calendar" inline="true" dateFormat="mm/dd/yy"></p-calendar>
              <div class="form-group form-dd form-lg">
                <div class="errormessage absolute" *ngIf="showErrors && (rcsaStartDate==null || rcsaStartDate == '')">RCM Start Date is mandatory</div>
                <input type="text" class="form-control" name="rcsaStartDate" [ngModel]="rcsaStartDate | date: 'MM/dd/yyyy'" mask="99/99/9999" (ngModelChange)="rcsaStartDate=$event" placeholder="RCM Start Date" disabled>
              </div>
              <div class="form-group form-dd">
                <label class="mn-w-230">Set Reminder Date for Assessors:</label>
                <p-calendar name="s" readonlyInput="true" [utc]='false'  [ngClass]="{'error':showErrors && (reminderDateAssessor == '' || reminderDateAssessor == null)}" class="rcsa-calendar mx-w-230" [minDate]="rcsaStartDate" [maxDate]="rcsaEndDate" [(ngModel)]="reminderDateAssessor" showIcon=true icon="fa-calendar" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY"></p-calendar>
                <div class="errormessage" *ngIf="showErrors && (reminderDateAssessor < rcsaStartDate || reminderDateAssessor > rcsaEndDate)">Invalid Date. Please select a date within the RCM Start Date and End Date period</div>
              </div>
            </div>
            <div class="start-new-rcsa-dateselection">
              <label class="label-highlight-dark text-uppercase">SET RCM DATE OF COMPLETION:</label>
              <p-calendar name="rcsaEndDate" [defaultDate]="defaultDate" [utc]='false'  class="rcsa-calendar" [disabled]="rcsaStartDate==null || rcsaStartDate == ''"  [minDate]="rcsaStartDate" [(ngModel)]="rcsaEndDate" showIcon=true icon="fa-calendar" inline="true" dateFormat="mm/dd/yy"></p-calendar>
              <div class="form-group form-dd form-lg">
                <div class="errormessage absolute" *ngIf="showErrors && (rcsaEndDate==null || rcsaEndDate == '')">RCM End Date is mandatory</div>
                <input type="text" name="rcsaEndDate" [ngModel]="rcsaEndDate | date: 'MM/dd/yyyy'" (ngModelChange)="rcsaEndDate=$event" class="form-control" placeholder="RCM End Date" disabled>
              </div>
              <div class="form-group form-dd">
                <label class="mn-w-265">Set Reminder Date for AU Coordinator:</label>
                <p-calendar readonlyInput="true" name="s" [utc]='false' class="rcsa-calendar mx-w-230" [ngClass]="{'error':showErrors && (reminderDateCordinator == '' || reminderDateCordinator == null)}" [minDate]="rcsaStartDate" [maxDate]="rcsaEndDate" [(ngModel)]="reminderDateCordinator" showIcon=true icon="fa-calendar" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY"></p-calendar>
                <div class="errormessage" *ngIf="showErrors && (reminderDateCordinator < rcsaStartDate || reminderDateCordinator > rcsaEndDate)">Invalid Date. Please select a date within the RCM Start Date and End Date period</div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <h5 class="rcsa-title">Name: RCM - Q{{selectedQuarter.id}} {{selectedYear.value}} ({{rcsaStartDate | date: 'MM/dd/yyyy'}} - {{rcsaEndDate | date: 'MM/dd/yyyy'}})</h5>
        </div>
        <!--Rcsa Setup-->
        <!--Button Toolbar to show button-->
        <div class="col-md-12">
          <div class="btn-group align-left">
<!--
            <button class="btn btn-primary" type="button" (click)="saveRcsa()">save RCSA</button>
-->
            <button class="btn btn-primary" type="button" (click)="startRcsa()" *ngIf="rcsaUnitlist.length>0">Start RCM</button>
<!--
            <button class="btn btn-primary" type="button" (click)="dummy()" *ngIf="rcsaUnitlist.length>0">dummy</button>
-->
            <!--<button class="btn btn-primary" type="button"  style="display: block" (click)="dummy()"></button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div bsModal #error="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!--<ng-template #template>-->
    <div class="modal-dialog modal-sm modal-alert" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="alert-error">
            <span class="alert-close" (click)="error.hide()" aria-hidden="true">&times;</span>
            <i class="ico-md ico-error"></i>
            <div class="alert-msg-wrapper">
              <h3>Alert</h3>
              <p>Inherent Risks not defined for the following:</p>
              <ul>
                <li *ngFor="let risk of errorModalMsg?.risks">{{risk.name}}</li>
              </ul>
              <p>Please contact Enterprise Risk Management.</p>
            </div>
          </div>
        </div>
      </div>
</div>
